:root {
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --hover-color: #2196f3;
  --ptimary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --fourth-background-color: #ffffff;
  --logo-web-color: #2196f3;
  --sections-services-gap: 30px;
  --social-network-icon-background: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--fourth-background-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  border: none;
  color: #000000;
  background-color: var(--fourth-background-color);
}

.logo-web {
  color: var(--logo-web-color);
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  border: none;
  color: #000000;
  background-color: var(--fourth-background-color);
}

.logo-web {
  color: var(--logo-web-color);
}

.nav {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover, .site-nav-link:focus {
  color: var(--hover-color);
}

.site-nav-link.current {
  color: var(--hover-color);
}

.site-nav-link.current:after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--hover-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts-item:not(:first-child) {
  margin-left: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover, .header-contacts-link:focus {
  color: var(--hover-color);
}

.btn {
  font-size: 16px;
  text-align: center;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.hero-button {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--third-text-color);
}

.hero-button:hover, .hero-button:focus {
  color: var(--third-text-color);
  background: #188ce8;
}

.speciality {
  display: flex;
}

.speciality-item {
  margin-right: 30px;
  flex-basis: calc(100% / 4);
}

.speciality-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.speciality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.speciality-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.work-section {
  padding-top: 0px;
}

.work {
  margin-top: 50px;
  display: flex;
}

.work-item {
  position: relative;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--secondary-title-color);
}

.team-section {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--secondary-background-color);
}

.team-item:not(:last-child) {
  margin-right: 30px;
  background: var(--third-text-color);
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--fourth-background-color);
}

.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.team-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.client-list {
  display: flex;
  justify-content: center;
}

.client-item {
  margin-top: 50px;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-network-icon-background);
  border-radius: 4px;
  color: var(--social-network-icon-background);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  fill: var(--hover-color);
  border-color: var(--hover-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-address {
  flex-grow: 1;
  margin-right: 70px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
}

.address {
  margin-top: 20px;
  font-style: inherit;
}

.address-item:not(:first-child) {
  margin-top: 9px;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.address-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
  color: rgba(255, 255, 255, 0.6);
}

.address-contacts-link:hover, .address-contacts-link:focus {
  color: var(--hover-color);
}

.strong {
  display: block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.footer-network-list {
  display: flex;
  margin-top: 20px;
}

.footer-network-item:not(:last-child) {
  margin-right: 10px;
}

.footer-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  height: 44px;
  width: 44px;
  fill: var(--third-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-network-link:hover, .footer-network-link:focus {
  background-color: var(--hover-color);
}

.footer-sabscription {
  margin-left: 93px;
}

.sabscription {
  display: flex;
  margin-top: 20px;
}

.input-sabscription {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 14px;
  color: var(--third-text-color);
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-sabscription:hover, .input-sabscription:focus {
  border: 1px solid var(--hover-color);
}

.sabscribe-btn {
  display: flex;
  justify-content: center;
  padding: 10px 29px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--third-text-color);
  border-radius: 4px;
  border: none;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--fourth-background-color);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--fourth-background-color);
  cursor: pointer;
  padding: 0;
}

.icon-closed {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-closed:hover, .icon-closed:focus {
  fill: currentColor;
  color: var(--hover-color);
}

.modal-form {
  padding: 40px;
}

.modal-title {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.form-label {
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-input {
  cursor: pointer;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover, .form-input:focus {
  border: 1px solid var(--hover-color);
}

.form-icon {
  position: absolute;
  pointer-events: none;
  top: 32px;
  left: 13px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}

.form-area:focus .form-icon,
.form-area:hover .form-icon {
  color: var(--hover-color);
  fill: currentColor;
}

.form-area {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-textarea {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-textarea:hover, .form-textarea:focus {
  border: 1px solid var(--hover-color);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox {
  appearance: none;
  position: absolute;
}

.icon-checkbox {
  position: relative;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  background-size: contain;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-checkbox:hover .icon-checkbox,
.form-label-checkbox:focus .icon-checkbox {
  border: 2px solid var(--hover-color);
}

.checkbox:checked + .icon-checkbox {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--hover-color);
  background-color: var(--hover-color);
}

.text-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.link-checkbox {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--hover-color);
}

.form-btn {
  display: block;
  padding: 10px 55px;
  margin: auto;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--hover-color);
  color: var(--third-text-color);
}

.icon-mail,
.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.social-network-icon-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-network-icon-item:not(:last-child) {
  margin-right: 10px;
}

.social-network-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  height: 44px;
  width: 44px;
  background-color: var(--fourth-background-color);
  fill: var(--social-network-icon-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-icon-link:hover, .social-network-icon-link:focus {
  background-color: var(--hover-color);
  fill: var(--third-text-color);
}

.icon-sabscription {
  margin-left: 10px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  text-decoration: none;
}

.filters-btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--primary-title-color);
  background: var(--secondary-background-color);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover, .filters-btn:focus {
  background-color: var(--hover-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-item:not(:last-child) {
  margin-right: 10px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--sections-services-gap));
  margin-top: calc(-1 * var(--sections-services-gap));
}

.projects-item {
  flex-basis: calc(100% / 3 - var(--sections-services-gap));
  margin-left: var(--sections-services-gap);
  margin-top: var(--sections-services-gap);
}

.projects-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover, .projects-link:focus {
  display: block;
  transform: translateY(0);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.projects-content {
  padding: 20px 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.projects-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87x;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.overlay-projects {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 18;
  letter-spacing: 0.03em;
  line-height: 1.56;
  background: rgba(33, 150, 243, 0.9);
  color: var(--third-text-color);
}

.projects-link:hover .text-overlay,
.projects-link:focus .text-overlay {
  transform: translateX(0);
}

.paragraph-overlay {
  padding-right: 24px;
  padding-left: 24px;
  text-align: left;
}
/*# sourceMappingURL=main.css.map */