:root {
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --hover-color: #2196f3;
  --ptimary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --fourth-background-color: #ffffff;
  --logo-web-color: #2196f3;
  --sections-services-gap: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.btn {
  font-size: 16px;
  text-align: center;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}
.container {
  margin: 0px auto;
  padding: 0px 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*----------------------HEADER----------------- */
.header {
  border: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  border: none;
  text-decoration: none;

  color: #000000;
  background-color: var(--fourth-background-color);
}

.logo-web {
  color: var(--logo-web-color);
}

.nav {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.site-nav .site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link .link.current {
  color: var(--hover-color);
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 32px;
  margin-bottom: 32px;
  color: var(--hover-color);
}

.current {
  color: var(--hover-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:first-child) {
  margin-left: 50px;
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--hover-color);
}

/*----------------------HERO----------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 280px;

  text-align: center;

  background-color: #2f303a;
}

.hero-title {
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;

  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--third-text-color);
}

.hero-button {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--hover-color);
  color: var(--third-text-color);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--third-text-color);
  background: #188ce8;
}

/* ----------------------------SPECIALITY------------------ */

.speciality {
  display: flex;
}

.speciality-item {
  flex-basis: calc(100% / 4);
}

.speciality-item:not(:last-child) {
  margin-right: var(--section-services-gap);
}

.speciality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.speciality-text {
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

/* ----------------------------ЧЕМ МЫ ЗАНИМАЕМСЯ------------------ */

.work-section {
  padding-top: 0px;
}

.work {
  margin-top: 50px;
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-text-color);
}

/* .work-item {
} */
/* ----------------------------TEAM------------------ */

.team-section {
  padding: 94px 0px;

  background: var(--bachgroun-button-portfolio);
}
.team-list {
  display: flex;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background: var(--secondary-background-color);
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item:not(:last-child) {
  margin-right: 30px;

  background: var(--third-text-color);
}

.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}

.team-text {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--secondary-text-color);
}

/* ----------------------------FOOTER------------------ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #ffffff;
  text-decoration: none;
}

.footer-address {
  margin-top: 20px;
  font-style: inherit;
}

.footer-address-item:not(:first-child) {
  margin-top: 9px;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}

.address-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--hover-color);
}

.footer-address-link {
  color: var(--third-text-color);
}

/* ----------------------------PORTFOLIO------------------ */

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-btn {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;

  color: var(--primary-title-color);
  background: var(--secondary-background-color);
  border: none;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-item:not(:last-child) {
  margin-right: 10px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--sections-services-gap));
  margin-top: calc(-1 * var(--sections-services-gap));
}

.projects-item {
  flex-basis: calc(100% / 3 - var(--sections-services-gap));
  margin-left: var(--sections-services-gap);
  margin-top: var(--sections-services-gap);
}

.projects-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-title-color);
}

.projects-text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87x;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
