.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 22px;
  height: 44px;
  width: 44px;

  background-color: var(--fourth-background-color);
  fill: var(--social-network-icon-background);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
    fill: var(--third-text-color);
  }
}

.icon__sabscription {
  margin-left: 10px;
}
