.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  border: none;

  color: var(--hover-color);
}

.logo__text {
  &--black {
    color: var(--primary-text-color);
  }
  &--white {
    color: var(--third-text-color);
  }
}
