:root {
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --hover-color: #2196f3;
  --ptimary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --fourth-background-color: #ffffff;
  --logo-web-color: #2196f3;
  --sections-services-gap: 30px;
  --social-network-icon-background: #afb1b8;
}
